.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  
  font-size: calc(10px + 2vmin);
  color: white;
}

.weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  border-radius: 35px;
}
.weather-details {
 
  color: #282c34;
  
  width: 400px;
  height: 480px;
}

.weather-icon {
  display: flex;
  justify-content: center;
}

.center {
  text-align: center;
}


.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.inputbox {
  height: 40px; 
  width: 100%; 
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box; 
  overflow: hidden; 
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}


input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

#button {
  background-color: #007bff;
  color: white;
  border: none;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

#button:hover {
  background-color: #0056b3;
}


.back-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  position: relative; 
  right: 2em;
  transition: background-color 0.3s, transform 0.2s;
}

.back-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.back-button span {
  margin-right: 5px;
}

.back-button:focus {
  outline: none;
}

@media (max-width: 600px) {
  .back-button {
    top: 5px; 
    left: 5px; 
    padding: 3px 6px; 
  }
}



.getWeather{
  position: relative;
  top: 150px;
}



.para{
  /* margin: 0 10px; */
  color: #282c34;
  font-weight: bold;
}


/* Add a media query for screens with max-width of 600px */
@media (max-width: 600px) {
  .weather-card {
    width: 80%; 
    padding: 20px; 
  }

  .back-icon {
    right: 10px; 
    bottom: 5px;
  }

  

  .input-container {
    margin-bottom: 10px; 
  }

  input[type="text"] {
    padding: 8px; 
    margin-bottom: 8px; 
  }

  #button {
    padding: 8px 16px; 
  }
}


.weather-columns {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adjust the gap between columns */
}

.weather-column1,
.weather-column2 {
  flex: 1;
}

.centerTemp{
  font-size: 56px;
  margin: 0;
}

.centerMain{
  margin: 0;
  font-size: 30px;
}

.centerRow {
  display: flex; 
  align-items: center; 
  margin-bottom: 20px;
}

.centerRow p {
  margin: 0;
  padding: 0; 
}

.centerRow .center {
  margin-left: 8px; 
}


.centerRow1 {
  font-size: 15px;
  display: flex; 
  align-items: center; 
}

.centerRow1 p {
  margin: 0; 
  padding: 0; 
}

.centerRow1 .center {
  margin-left: 8px; 
}

.Location{
  margin:  0 0 20px 0;
}